{% extends "base.html" %}

{% block content %}
	<div id="thread-reply">
		<textarea id="thread-reply-parent"></textarea>
		<textarea id="thread-reply-body"></textarea>
		<div class="thread-reply-buttons">
			<div>↷</div>
			<div>×</div>
		</div>
	</div>
	<div class="content-centre">
		<div class="thread" id="thread-{{ parent.id }}">
			<div class="thread-head">
				<div onclick="window.location.href = '/{{ parent.id }}';">#{{ parent.id }}</div>
				<div onclick="">◄</div>
				<div onclick="changeChildThreads(this, {{ parent.id }})">▼</div>
			</div>
			<div class="thread-body">
				{{ parent.body }}
			</div>
		</div>
	</div>
{% endblock %}
