* {
	margin: 0;
	padding: 0;
}

.content-centre {
	margin-left: 5%;
	margin-right: 5%;
}
.thread {
	display: block;
	margin-left: 19px;
}
.thread-head {
	background-color: #CCCCCC;
	list-style-type: none;
	border: 1px solid black;
	margin: -1px;
	width: 100%;
}
.thread-head li {
	display: inline;
}
.thread-head a {
	padding: 5px 10px;
	text-decoration: none;
	font-weight: bold;
	display: inline-block;
	width: auto;
}
.thread-head a:hover {
  background-color: #EEEEEE;
}

.thread-body {
	background-color: #CCCCCC;
	padding: 10px;
	display: block;
	border: 1px solid black;
	margin: -1px;
}
